<section>
	<h2>Terminology</h2>
	<dl class="smaller-2">
		<dt>Module</dt>
		<dd>The basic organizational unit of AngularJS. Each module consists of one or more services, directives, ...</dd>
		<dt>Service (, Factory, Provider)</dt>
		<dd>They are essentially all the same concept, but with different levels of control. A service is a JS object that provides a well-defined piece of functionality.</dd>
		<dt>Controllers</dt>
		<dd>A controller in the AngularJS world is just a specific kind of service - one that provides a template with content and if necessary, some binding logic.</dd>
		<dt>Directive</dt>
		<dd>Directives can be used to create reusable custom HTML elements (read: web components).</dd>
		<dt>Scope</dt>
		<dd>A scope is Angular's mechanism for communicating between code and the DOM/template. They are at the core of template binding.</dd>
	</dl>
</section>
