<section>
	<h2>What is Theming?</h2>
	<ul>
		<li>Theming is the process of integrating the design with the content model and functionality provided by modules</li>
		<li>A theme is essentially the glue that creates the appearance of a consistent application that is built from inconsistent parts</li>
		<li>It makes up a substantial fraction of the overall project</li>
		<li>It is also where most of the conflicts between high-level concepts and reality happen</li>
		<li>It is definitely <strong>not</strong> just some CSS and HTML sprinkled on top!</li>
	</ul>
</section>
