<section>
	<h2>How to Theme†</h2>
	<p>From the diagram it should be clear that theming:</p>
	<ul>
		<li>Cannot be done up-front</li>
		<li>Requires a lot of consolidation discussions</li>
		<li>Cannot be done independently from the content model</li>
		<li>Has to be done iteratively and in functional pieces</li>
	</ul>
	<aside class="footnote">
		† at least in my opinion...
	</aside>
</section>
