<section>
	<h2><code>this</code> and <code>that</code> <a class="demo-link" href="resources/samples/this-and-that.js">(Code)</a></h2>
	<ul>
		<li>In any given function, <code>this</code> is the object the function was <em>called on</em>
			<ul>
				<li>If a function is called <em>stand-alone</em>, <code>window</code> becomes <code>this</code></li>
				<li>Calling a function on an object makes that object into <code>this</code></li>
				<li>With <code>call</code> and <code>apply</code> you provide <code>this</code> explicitly</li>
			</ul>
		</li>
		<li><code>this</code> is not a free variable captured within a closure
			<ul>
				<li>To get <code>this</code> of the parent scope into the function closure, you need to create an alias</li>
				<li>The name is completely irrelevant, but a good convention is to call it <code>that</code></li>
				<li>Be mindful of your <code>this</code>. It will betray you.*</li>
			</ul>
		</li>
	</ul>
	<div class="footnote">
		<blockquote><p>"Be mindful of your thoughts Anakin.<br />
			They’ll betray you."</p>
			<footer>Obi-Wan Kenobi</footer>
		</blockquote>
	</div>
</section>
