<section>
	<h2>Binding <a class="demo-link" href="resources/samples/binding.js">(Code)</a></h2>
	<ul>
		<li>Binding allows you to provide some fixed arguments to a function while leaving the remainder <em>open</em></li>
		<li>The first argument of the <code>bind</code> function is the <code>this</code> the function should be bound to</li>
		<li>Binding is a limited version of <a href="http://en.wikipedia.org/wiki/Currying">Currying</a> / partial application</li>
		<li>Fixed arguments have to be provided <em>in order</em> (no skipping)
			<ul>
				<li>The <code>this</code> argument always goes first</li>
				<li>The normal function arguments follow in normal order</li>
			</ul>
		</li>
	</ul>
</section>
