<section>
	<h2>Constructors <a class="demo-link" href="resources/samples/constructors.js">(Code)</a></h2>
	<ul>
		<li>Every JS object - no matter how it was created - has a <code>constructor</code> property</li>
		<li>The constructor is the function from which the object was created</li>
		<li>In many cases, the constructor is <code>Object()</code></li>
		<li>To create an object that does <em>not</em> have <code>Object()</code> as its constructor
			<ul>
				<li>Use the <code>new</code> operator with a function to initialize the new object</li>
				<li>When using the <code>new</code> operator, a new object is created and the constructor function is called with the new object as <code>this</code></li>
			</ul>
		</li>
		<li>You <em>can</em> change the constructor of an object after it was created - <strong>DON'T</strong>; it won't do what you think it should</li>
		<li>Any constructor has in turn it's own constructor - following the chain will always lead you back to <code>Function()</code> which is its own constructor</li>
	</ul>
</section>
