<section>
	<h2>Prototypes <a class="demo-link" href="resources/samples/prototypes.js">(Code)</a></h2>
	<ul>
		<li>Every <em>function</em> has a <code>prototype</code> object</li>
		<li>Objects created with a specific constructor <em>inherit</em> the constructor prototype's properties
			<ul>
				<li>All prototype properties can be directly accessed through the new object</li>
				<li>Prototype properties can be overwritten</li>
				<li>Overwriting the prototype properties does not change the actual prototype's properties</li>
			</ul>
		</li>
		<li>The prototype of course has a constructor, which in turn has a prototype - and thusly the <em>prototype chain</em> was born</li>
		<li>The prototype chain, used properly, can be used to <em>emulate<sup>*</sup></em> an approximation<sup>**</sup> of OO inheritance<sup>***</sup></li>
	</ul>
	<div class="footnote">
		*: for ... "reasons"<br />
		**: for ... <em>reasons</em><br />
		***: for ... <em>"reasons"</em>
	</div>
</section>
