<section>
	<h2>Promises</h2>
	<ul>
		<li>Conceptually simple API (although a multitude of implementations with minor differences exist)
			<ul>
				<li><a href="https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/Future.html">Java Futures</a></li>
				<li><a href="https://api.jquery.com/jQuery.Deferred/">jQuery deferred objects</a></li>
				<li><a href="https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Promise">ES6 promises</a></li>
				<li><a href="https://docs.angularjs.org/api/ng/service/$q">AngularJS promises/deferred objects</a></li>
				<li>...</li>
			</ul>
		</li>
		<li>A promise is an <em>object</em> that represents an asynchronous task</li>
		<li>Promises can be in one of the following states
			<dl>
				<dt>pending</dt>
				<dd>The operation is not yet completed</dd>
				<dt>fulfilled</dt>
				<dd>The operation completed successfully</dd>
				<dt>rejected</dt>
				<dd>The operation failed for some reason</dd>
			</dl>
		</li>
	</ul>
</section>
