<section>
	<h2>Promise APIs (jQuery)</h2>
	<ul>
		<li>APIs are usually (but not necessarily) mostly functional</li>
		<li>Details vary, but most of them support something like this (jQuery deferred objects)</li>
	</ul>
	<pre><code>promise
	.then(function (value) {
		// this function is called if and when the promise is fulfilled
	})
	.fail(function (error)) {
		// this function is called if and when the promise is rejected
	}
	.always(function (argumentsMayVary) {
		// this function is always called when the promise is fulfilled or rejected
	})
;</code></pre>
</section>
