<section>
	<h2>Promise Chaining (jQuery)</h2>
	<ul>
		<li>Any <em>then</em> function can simply return another promise which allows easy chaining</li>
	</ul>
	<pre><code>$.get('//somehost/some/path', { param: 42 })
	.then(function (response) {
		// do something with 'response'
		return $.get('//somehost/some/other/path', { another: some_value_from_response });
	}).then(function (response) {
		// process inner result
	}).fail(function (error) {
		// this is executed if _either_ of the two operations fail
	});
;</code></pre>
</section>
