<section>
	<h2>Aggregating Promises (ES6)</h2>
	<dl>
		<dt>Promise.all(iterable)</dt>
		<dd>Returns a promise that resolves when all of the promises in the iterable argument have resolved. This is useful for aggregating results of multiple promises together.</dd>
		<dt>Promise.race(iterable)</dt>
		<dd>Returns a promise that resolves or rejects as soon as one of the promises in the iterable resolves or rejects, with the value or reason from that promise.</dd>
</section>
