<section>
	<h2>Outline</h2>
	<ul>
		<li>What was Drupal <em>designed</em> to do?</li>
		<li>Nodes and Fields</li>
		<li>Drupal Core - What can it do?</li>
		<li>Layouts</li>
		<li>Theming</li>
		<li>Drupal 8 Playground</li>
		<li>Questions</li>
	</ul>
</section>
