<section>
	<h2>Conclustion</h2>
	<ul>
		<li>Async is fairly difficult to understand and even harder to get right</li>
		<li>A simple abstraction like promises can make your code much cleaner and easier to read/understand</li>
		<li>That doesn't necessarily mean that they are easy to use ;)</li>
	</ul>
</section>
