<section>
	<h2>The Problem with Drupal Core</h2>
	<ul>
		<li>Drupal Core is supposed to be <em>light</em> and relies heavily on 3rd party modules to provide additional functionality</li>
		<li>In terms of quality, concepts, UI and everything else, Drupal modules are all over the place</li>
		<li>Since in many cases, Drupal Core doesn't provide any kind of guidlines for features not included in Core, there are usually multiple (mutually incompatible) modules that do more or less the same thing but in different ways</li>
	</ul>
</section>
