<section>
	<h2>Conclusion</h2>
	<ul>
		<li>If you have to or want to write JavaScript, <em>learn</em> how to do it right</li>
		<li>A lot of the stuff in here will hopefully become obsolete in 5 to 10 years with the roll-out of ES6</li>
	</ul>
</section>
