<section>
	<h2>What Is It?</h2>
	<ul>
		<li>Single page application JavaScript framework</li>
		<li>Based on a variation of the MVVM pattern</li>
		<li>Focused around the concept of <em>Directives</em> (think <a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components">Web Components</a>)</li>
		<li>Very modular by design</li>
		<li>Designed to be testable using their own end-to-end testing framework <a href="http://angular.github.io/protractor/">Protractor</a></li>
	</ul>
</section>
