<section>
	<h2>What Do I Need?</h2>
	<ul>
		<li>angular.js (core)</li>
		<li>angular-routing.js
			<p>As mentioned before, Angular is <em>very</em> modular. Even routing is a module!</p>
		</li>
		<li>An initial HTML page to host your Angular app and scripts</li>
		<li>Some sort of webserver - file:/// development <em>may</em> work, but it usually creates more problems than it solves</li>
		<li><em>For any non-sample-sized project:</em> a way of organizing your code during development
			<p>This is an issue that affects all non-trivial JavaScript projects and will be covered in a separate brown-bag</p>
		</li>
	</ul>
</section>
