<section>
	<h2>Setting Up</h2>
	<h3><a href="resources/samples/setup/index.html" class="demo-link">Demo Here</a></h3>
	<ul>
		<li><code>index.html</code> refers to a <em>demoApp</em> in the HTML root tag</li>
		<li>The <code>ng-app</code> <em>directive</em> declares the module to load as the entry point of the AngularJS app</li>
		<li><code>{{ data.greeting }}</code> is AngularJS templating</li>
		<li><code>angular.module('demoApp', [])</code> declares the module with its dependencies (empty array)</li>
		<li>The rest just sets up some <em>data</em> for the template to bind to</li>
	</ul>
</section>
