<section id="title">
	<h1>JavaScript the ...<br />'some' Parts</h1>
	<h3>Things you may or may not know about JavaScript and which may or may not be useful, but certainly interesting in a conceptual way...</h3>
	<div class="author-info">created by Lukas Angerer</div>
</section>
