<section>
	<h2>Outline</h2>
	<ul>
		<li>Overview</li>
		<li>Closures, Scopes and IIFEs</li>
		<li>Function Arguments</li>
		<li>This and That and Binding</li>
		<li>Prototypes and Constructors</li>
		<li>Properties</li>
		<li>Promises</li>
	</ul>
</section>
