<section>
	<h2>What are Directives?</h2>
	<ul>
		<li>Think of directives as web components - reusable pieces of HTML with corresponding functionality</li>
		<li>AngularJS is full of directives - directives can be used to <em>augment</em> existing HTML elements / directives</li>
		<li>Any directive essentially consists of a <em>controller</em>, a <em>template</em>, and a <em>scope</em>; each of which is optional</li>
		<li>Directives is where most of the power of AngularJS comes from</li>
		<li>Directives can take various forms (elements, attributes and even classes)</li>
		<li>They can get fairly complex and reading up on the <a href="https://docs.angularjs.org/api/ng/service/$compile">documentation</a> is essential</li>
	</ul>

	<aside class="notes" data-markdown>
	</aside>
</section>
