<section>
	<h2>Start with a Template, then add a Scope</h2>
	<h3><a href="resources/samples/directive1/index.html" class="demo-link">Demo Here</a></h3>
	<ul class="smaller">
		<li>The most trivial directive you can create simply consists of a template</li>
		<li>It is essentially equivalent to the <code>ngInclude</code> directive</li>
		<li>Adding a <code>scope</code> to the directive creates an isolated scope
			<ul>
				<li>Parent scope properties are no longer available directly</li>
				<li>Attributes on the directive element can be used to pass data to the directive in different ways:
					<ul>
						<li><code>'='</code> will provide two-way binding to the parent scope</li>
						<li><code>'&amp;'</code> will provide one-way access to the parent scope through a <em>function</em></li>
						<li><code>'@'</code> will simply get the string value of the attribute (the rest is up to the directive)</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>

	<aside class="notes" data-markdown>
	</aside>
</section>
