<section>
	<h2>Link the Template</h2>
	<h3><a href="resources/samples/directive2/index.html" class="demo-link">Demo Here</a></h3>
	<ul class="smaller">
		<li><em>Linking</em> is the process of connecting the DOM with AngularJS constructs (scopes in particular)</li>
		<li>Here, we register DOM events and set up all other DOM manipulation</li>
		<li>The integration into the AngularJS world usually happens with the <code>scope.$apply(fn)</code> function</li>
		<li>A lot of the really useful DOM concepts already exist as directives, see:
			<ul>
				<li><code>ng-model</code></li>
				<li><code>ng-show</code> / <code>ng-hide</code></li>
				<li><code>ng-if</code> / <code>ng-switch</code></li>
				<li><code>ng-click</code> / <code>ng-dblclick</code></li>
				<li>...</li>
			</ul>
		</li>
	</ul>

	<aside class="notes" data-markdown>
	</aside>
</section>
