<section>
	<h2>Automagically Transclude the Flux Capacitor</h2>
	<h3><a href="resources/samples/directive3/index.html" class="demo-link">Demo Here</a></h3>
	<ul>
		<li><a href="http://en.wikipedia.org/wiki/Transclusion">Transclusion</a>
			<blockquote>In computer science, transclusion is the inclusion of a document or part of a document into another document by reference.</blockquote>
		</li>
		<li>Transclusion allows a directive to operate on a block of <em>client-supplied</em> markup</li>
		<li>The directive can then define in its view where the custom block should go inside the template</li>
	</ul>

	<aside class="notes" data-markdown>
	</aside>
</section>
