<section>
	<h2>Directives with Controllers</h2>
	<h3><a href="resources/samples/directive4/index.html" class="demo-link">Demo Here</a></h3>
	<ul>
		<li>Directive controllers work just like route controllers</li>
		<li>Directives on the same element can share a controller - it can even be shared across elements</li>
	</ul>

	<aside class="notes" data-markdown>
	</aside>
</section>
