<section>
	<h2>Defining Properties</h2>
	<ul>
		<li>Everybody knows how to define properties in JS
			<pre><code>var x = {};
x.foo = "bar"; // Tadaaa!!! new property on object x</code></pre>
		</li>
		<li>Properties can be defined on the object itself or <em>anywhere</em> in the prototype chain</li>
		<li>When a property hides another property of the same name in a higher scope, this is called shadowing</li>
		<li>This raises the question of where exactly a property is defined</li>
	</ul>
</section>
