<section>
	<h2>The <code>hasOwnProperty</code> Function <a class="demo-link" href="resources/samples/properties.js">(Code)</a></h2>
	<ul>
		<li>Iterating over an object's properties with a <code>for .. in</code> loop
			<ul>
				<li>Order of the properties is pretty much random</li>
				<li>All properties are included regardless of whether they were defined on the object or somewhere along the prototype chain</li>
				<li>Use the <code>hasOwnProperty</code> function to determine if the property was defined on the current object</li>
			</ul>
		</li>
		<li>Never use <code>for .. in</code> with arrays
			<ul>
				<li>The order of iteration is not guaranteed</li>
				<li>Will also iterate over non-integer properties</li>
			</ul>
		</li>
	</ul>
</section>
