<section>
	<h2>The <em>other</em> way to define a property <a class="demo-link" href="resources/samples/properties.js">(Code)</a></h2>
	<ul>
		<li>The <code>Object.defineProperty</code> and <code>Object.defineProperties</code> functions provide an alternat and more flexible way to add properties to your objects
			<ul>
				<li>You can create properties that are not enumerable with a <code>for .. in</code> loop</li>
				<li>You can create properties that are not writable</li>
				<li>You can create properties that have <em>getters</em> and <em>setters</em>
			</ul>
		</li>
		<li>Getters and setters are a big deal in modern JS frameworks since they allow you to execute code on <em>assignment</em></li>
	</ul>
</section>
