<section>
	<h2>Drupal8 Playground</h2>
	<ul>
		<li><a href="http://drupal-sandbox.guroot.nine.ch/">http://drupal-sandbox.guroot.nine.ch/</a></li>
		<li><a href="http://drupal-sandbox.guroot.nine.ch/user">Login</a>
			<ul>
				<li>Username: <code>admin</code></li>
				<li>Password: <code>g3tun1k</code></li>
			</ul>
		</li>
		<li>Resets to <em>zero</em> every night, so feel free to mess with it however you like</li>
		<li>Can be used to
			<ul>
				<li>Get an idea of how the Drupal 8 backend works</li>
				<li>Experience the full admin feeling</li>
				<li>Testing modules from drupal.org</li>
			</ul>
		</li>
	</ul>
</section>
