<section>
	<h2>Data Binding Variations</h2>
	<h3><a href="resources/samples/binding1/index.html" class="demo-link">Demo Here</a></h3>
	<ul>
		<li>Interpolation with double curly braces like so <code>{{ here }}</code></li>
		<li>Filters like {% raw %}<code>{{ here|uppercase }}</code>{% endraw %}</li>
		<li>Using the <code>ng-bind</code> directive</li>
		<li>Using the <code>ng-bind-html</code> directive - uses the AngularJS sanitation service by default</li>
		<li>Using the <code>ng-bind-template</code> directive - <a href="https://code.angularjs.org/1.3.10/docs/api/ng/directive/ngBindTemplate">only for special cases</a></li>
	</ul>

	<aside class="notes" data-markdown>
* curly braces will likely introduce spans
* with fitlers you can easily create custom transformations
* ng-bind-template is explicitly for elements that cannot contain spans
	</aside>
</section>
