<section>
	<h2>Dynamic Binding</h2>
	<h3><a href="resources/samples/binding2/index.html" class="demo-link">Demo Here</a></h3>
	<ul>
		<li>Any binding expression automatically updates when the underlying value changes through the magic of <code>$watch</code>, <code>$apply</code> and <code>$digest</code> and scopes</li>
		<li>Input elements like form controls support the <code>ng-model</code> directive which gives us two-way binding</li>
	</ul>

	<aside class="notes" data-markdown>
* watch, apply and digest are advanced topics not covered yet
* the binding process works with a sophisticated and extendable processing pipeline
	</aside>
</section>
