<section>
	<h2>Why Services?</h2>
	<ul>
		<li>Angular controllers (aka <em>view models</em>) are not supposed to contain any logic that is not directly needed by the view</li>
		<li>Good old separation of concerns - one service === one objective</li>
		<li>They help create a modular and reusable architecture with a little help from DI</li>
		<li>They help keep things DRY</li>
	</ul>

	<aside class="notes" data-markdown>
	</aside>
</section>
