<section>
	<h2>Types of Services (aka Recipes*)</h2>
	<img src="resources/images/providers.svg" width="30%" />
	<dl>
		<dt>Provider</dt>
		<dd>A provider is a constructor function which returns an object with a <code>$get</code> function. The <code>$get</code> function is invoked to retrieve the actual service object. Additionally, a provider object can have any number of configuration functions that can be used to configure the behavior of its service objects.</dd>
	</dl>

	<aside class="notes" data-markdown>
	</aside>
</section>
