<section>
	<h2>Types of Services (aka Recipes*)</h2>
	<img src="resources/images/providers.svg" width="30%" />
	<dl>
		<dt>Factory</dt>
		<dd>A factory is just the <code>$get</code> function aspect of a provider. The function is expected to return a service instance and it is not called with the <code>new</code> operator. This still allows flexible creation of the service instance.</dd>
	</dl>

	<aside class="notes" data-markdown>
	</aside>
</section>
