<section>
	<h2>Types of Services (aka Recipes*)</h2>
	<h3><a href="resources/samples/providers/index.html" class="demo-link">Demo Here</a></h3>
	<img src="resources/images/providers.svg" width="30%" />
	<dl>
		<dt>Service</dt>
		<dd>A simple constructor function for a service. It is equivalent with a trivial provider where the <code>$get</code> function simply instantiates the service by applying the <code>new</code> operator on the service constructor.</dd>
	</dl>

	<aside class="notes" data-markdown>
	</aside>
</section>
