<section>
	<h2>Values and Constants</h2>
	<img src="resources/images/providers.svg" width="30%" />
	<ul>
		<li>They both cannot have dependencies (no DI)</li>
		<li>They both represent simple values or objects</li>
		<li>Constants are available in the configuration phase (they are <em>providers</em>), values are not</li>
	</ul>

	<aside class="notes" data-markdown>
	</aside>
</section>
