<section>
	<h2>Service Decorators</h2>
	<h3><a href="resources/samples/decorator/index.html" class="demo-link">Demo Here</a></h3>

	<ul>
		<li>You <em>can</em> define your own service to completely replace an existing one...</li>
		<li>... however, this is usually not what you want</li>
		<li>Decorators allow you to <em>intercept</em> the creation of a service object and allow you to modify it</li>
		<li>Depending on the service and its API, you can wrap the service, add new functions or override existing ones (but remember that it's <em>your</em> foot)</li>
	</ul>

	<aside class="notes" data-markdown>
	</aside>
</section>
