<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
    <head>
        <meta charset="utf-8">
        <title>Demo</title>
        <script type="text/javascript" src="../angular/angular.js"></script>
        <script type="text/javascript" src="demoApp.js"></script>
    </head>
    <body>
        <h1>{{ greeting }}</h1>
    </body>
</html>
