<section>
	<h2>What is Dependency Injection</h2>
	<h3>... and how does it work</h3>
	<ul>
		<li>Dependency Injection (DI) is a mechanism to decouple software components</li>
		<li>It is a form of Inversion of Control (IoC) where components don't explicitly fetch and/or instantiate their dependencies, instead they are provided by the DI container</li>
		<li>Components <em>declare</em> their dependencies in terms of <em>interfaces</em> and somebody else takes care of finding suitable implementations and providing them to the component</li>
		<li>DI usually requires some sort of configuration - AngularJS DI does not</li>
		<li>In AngularJS, DI is <em>omnipresent</em></li>
	</ul>

	<aside class="notes" data-markdown>
	</aside>
</section>
