<section>
	<h2>DI Basics</h2>
	<ul>
		<li>Many of Angular's primary functions like controllers, services, directives, ... are dependency injected, but not everything</li>
		<li>DI works in one of two different ways:
			<ul>
				<li>By function argument name - if the function has an argument <code>$log</code>, then the Angular log service will be injected for that parameter</li>
				<li>By declarative injection of the form
					<pre><code>['serviceA', 'serviceB', function (a, b) { ... }]</code></pre>
					which is <em>required</em> if the code is uglified with parameter mangling*
				</li>
			</ul>
		</li>
	</ul>

	<aside class="notes" data-markdown>
* (*) that one should be obvious
	</aside>
</section>
