<section>
	<h2>Injectables</h2>
	<dl>
		<dt><code>module.service(name, <em>injectable</em>)</code></dt>
		<dd>Defines an Angular service</dd>
		<dt><code>module.run(<em>injectable</em>)</code></dt>
		<dd>Run functions are executed once all modules have been initialized and they can be used to kick off any and all services.</dd>
		<dt><code>module.config(<em>injectable</em>)</code>*</dt>
		<dd>Due to the way the Angular lifecycle works, configuration functions can only be injected with providers. They are run as the first stage of the module initialization.</dd>
	</dl>
	<p>We'll see some more injectables later on</p>

	<aside class="notes" data-markdown>
	</aside>
</section>
