<section>
	<h2>Module Lifecycle</h2>
	<ol>
		<li>Dependencies of a module are always initialized first - on a <em>per-phase</em> basis</li>
		<li>Module recipes are registered</li>
		<li>Module configuration phase is executed (<code>module.config</code>)</li>
		<li>Module run phase is executed (<code>module.run</code>)</li>
	</ol>

	<aside class="notes" data-markdown>
	</aside>
</section>
