<section>
	<h2>Learning JavaScript</h2>
	<ul>
		<li>Did you at some point in your developer career sit down to <em>learn</em> JavaScript
			<aside>
				Since you, like 95% of all other so-called JS developers didn't, how <em>did</em> you learn it?
			</aside>
		</li>
		<li>
			<img style="float: right;" width="300px" src="http://lihaoyi.github.io/hands-on-scala-js/images/javascript-the-good-parts-the-definitive-guide.jpg"  />
			As illustraded by the width of the book "JavaScript: The Good Parts" compared to "JavaScript - The Definitive Guide", JavaScript contains a <strong>lot</strong> of bullshit.
		</li>
		<li>There are however some interesting aspects buried in there somewhere</li>
	</ul>
</section>
