<section>
	<h2>How do I learn JavaScript</h2>
	<ul>
		<li>
			Start by <em>reading</em> "JavaScript: The Good Parts" - it's <a href="http://it-ebooks.info/book/274/">freely available</a>.
			<ul>
				<li>I have heard / read multiple times (sorry, no sources) that Douglas Crockford himself would make the book even thinner by now.</li>
				<li>I don't agree with everything in there, but it is a good place to start.</li>
			</ul>
		</li>
		<li>Try reading <a href="http://www.ecma-international.org/publications/standards/Ecma-262.htm">some of the ECMAScript spec</a> (ECMA-262 5.1)</li>
		</li>
		<li>The <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Mozilla Developer Network (MDN)</a> is also a great resource</li>
	</ul>
</section>
