<section>
	<h2>Controllers</h2>
	<ul>
		<li>A controller in AngularJS terminology is more of a <em>view model</em></li>
		<li>It provides data in an easily digestable form to the templates</li>
		<li>All data is passed in the <em>scope</em>. Scopes are:
			<ul>
				<li>Isolated - each controller gets a new one</li>
				<li>Hierarchical - scopes <em>inherit</em> data from their parent scopes</li>
			</ul>
		</li>
		<li>A controller needs a <em>route</em> to be useful</li>
		<li>A <em>route</em> liks a URL with a specific controller and view</li>
	</ul>
</section>
