<section>
	<h2>Your First Controller</h2>
	<h3><a href="resources/samples/controller1/index.html" class="demo-link">Demo Here</a></h3>
	<ul>
		<li>Define a route with <code>:parameters</code></li>
		<li>The controller constructor is dependency injected</li>
		<li>Route parameters are accessed through the <code>$route</code> service</li>
		<li>Inline template</li>
	</ul>
</section>
