<section>
	<h2>Your First Refactoring</h2>
	<h3><a href="resources/samples/controller2/index.html" class="demo-link">Demo Here</a></h3>
	<ul>
		<li>90% of <em>JavaScript developers</em> don't know <em>shit</em> about JavaScript</li>
		<li>AngularJS samples are great <em>samples</em>, but not necessarily good <em>JavaScript</em></li>
		<li>AngularJS at its core is however quite well written</li>
	</ul>
	<ul class="refactor">
		<li>Factor out the controller</li>
		<li>Templates go into separate files</li>
		<li><code>controlerAs</code> to access the controller from the view*</li>
		<li>Adding methods to your controller</li>
	</ul>
</section>
