<section>
	<h2>Links</h2>
	<ul>
		<li>AngularJS Homepage <a href="https://angularjs.org/">https://angularjs.org/</a></li>
		<li>AngularJS API Docs <a href="https://docs.angularjs.org/api">https://docs.angularjs.org/api</a></li>
		<li><a href="presentation.7z">All the Source Code</a></li>
	</ul>
</section>
