<section>
	<h2>Asynchronous Operations</h2>
	<ul>
		<li>Asynchronous operations can get extremely tedious if there is more than one</li>
		<li>It always boils down to
			<ol>
				<li>Start an operation</li>
				<li>Wait until it completes</li>
				<li>Process the data and start another async operation (goto 1.)</li>
			</ol>
		</li>
		<li>What if you need to do something when <em>two</em> different requests are done?</li>
		<li>If you add even the most basic error handling, you get a headache</li>
	</ul>
</section>
