<section>
	<h2>Asynchronous Operations</h2>
	<pre><code>$.get('//somehost/some/path', { param: 42 }, function (response) {
	// do something with 'response'
	$.get('//somehost/some/other/path', { another: some_value_from_response }, function (response) {
		// process inner result
	})
});</code></pre>

	<pre><code>$.ajax({
	url: '//somehost/some/path',
	error: function () { console.warn("something went wrong"); }
	success: function (result) {
		$.ajax({
			url: '//somehost/some/path',
			error: function () { console.warn("something went wrong"); }
			success: function (result) {
				// process inner result
			})
		}),
	},
});</code></pre>
</section>
