<section>
	<h2>CMS vs LMS</h2>
	<ul>
		<li>Drupal is a <em>Content</em> Management System, not a <em>Layout</em> Management System</li>
		<li>It was never designed as a system where a backend user arranges content in rows / columns</li>
		<li>Even with modules like <a href="https://www.drupal.org/project/panels">Panels</a>, the layout is still mostly pre-defined</li>
		<li>As a result, complex and flexible designs along the lines of <a href="https://support.wwf.ch/de/wwf-mitgliedschaft-familien/familien">support.wwf.ch</a> require a substantial amount of trickery</li>
	</ul>
</section>
