<section>
	<h2>Example shop.wwf.ch Content Model and Layout*</h2>
	<img src="resources/shop-model.png" />
	<aside class="footnote">
		* this is actually an <em>simplified</em> model compared to support.wwf.ch
	</aside>
</section>
