
<div>
<ul>
	<li ng-repeat="opt in ctlCheckboxes.options">
		<label><input type="checkbox" ng-model="ctlCheckboxes.binding[opt]" /> {{ opt }}</label>
	</li>
</ul>
<code><pre>{{ ctlCheckboxes.binding | json }}</pre></code>
</div>
