<section>
	<h2>What are Nodes?</h2>
	<ul>
		<li>Almost everything interesting in Druapl is a node</li>
		<li>Pages are Nodes (the terms are mostly synonym)</li>
		<li>A Node is an <em>object</em> with some attributes</li>
		<li>Every Node is based on a content type that defines which attributes it has</li>
		<li>The attributes in Drupal are known as Fields</li>
	</ul>
</section>
