<section>
	<h2>What are Fields?</h2>
	<ul>
		<li>A Field associates data with a Node</li>
		<li>There are different field types to store different kinds of information
			<ul>
				<li>Text</li>
				<li>Reference</li>
				<li>Link</li>
				<li>...</li>
			</ul>
		</li>
		<li>Fields can be shown in the front-end with <em>field formatters</em> that control how exactly the field appears</li>
		<li>The display configuration is limited to
			<ul>
				<li>Rearranging the order of fields</li>
				<li>Selecting a formatter per field and content type / view mode</li>
				<li>Everything else requires custom code</li>
			</ul>
		</li>
	</ul>
</section>
