
<div>Displaying Custom HTML inside a Directive</div>
<container title="ctlMain.text">
This is the container content which can of course include other directives and is scoped to the outer (parent scope). Here we can for example access the ctlMain.text - '{{ ctlMain.text }}'
</container>
