
// Default mixins and settings -----------------
@import "../reveal.js/css/theme/template/mixins";
@import "./blank-settings";
// ---------------------------------------------

// Theme template ------------------------------
@import "../reveal.js/css/theme/template/theme";
// ---------------------------------------------

.reveal {
	section {
		img {
			border: none;
			box-shadow: none;
		}
	}

	.smaller {
		font-size: 90%;
	}
	.smaller-2 {
		font-size: 80%;
	}

	.demo-link {
		font-size: 80%;
	}

	.footnote {
		font-size: 50%;
		text-align: left;
		margin-top: 2em;
	}

	.author-info {
		font-size: 75%;
		margin-top: 3em;
		position: absolute;
		right: 0;
	}

	blockquote {
		p {
			margin-top: 0;
		}
	}
}
