<section>
	<h2>Inheritance and Subtyping</h2>
	<ul>
		<li>First of all, <em>inheritance</em> is <strong>not</strong> the same as <em>subtyping</em>
			<ul>
				<li>They are conflated very often since in many languages, the two happen to be the samee</li>
				<li>Inheritance is purely a method for reusing code</li>
				<li>Subtyping implies semantic and behavioral similarities (usually Liskov substitution principle)</li>
			</ul>
		</li>
		<li>Inheritance as a method of code reuse has several issues
			<ul>
				<li>It can (and often does) break encapsulation when a derived class has to override a base class function while
				maintaining full compatibility with the base implementation</li>
				<li>Can lead to very fragile base classes</li>
				<li>Particularly languages that only support <em>single</em> inheritance have problems when trying to combine multiple behaviors in a single class</li>
			</ul>
		</li>
	</ul>
</section>
