<section>
	<h2>Polymorphism and its bad Examples</h2>
	<ul>
		<li>Most of the canonical educational examples for polymorphism are actually bad examples
			<ul>
				<li>In the <em>shapes</em>, <em>animals</em> or <em>birds</em> examples, the common behavior of all shapes is basically non-existent</li>
				<li>Using interfaces is usually the much better way to achieve this form of polymorphism</li>
			</ul>
		</li>
		<li>Single inheritence in polymorphic systems blocks the <em>one slot</em> a developer has to easily reuse code
			<ul>
				<li>In most polymorphic systems, many objects actually have multiple distinct dimensions of <em>behaviors</em> or <em>roles</em> (e.g. a window display system where a window has graphical/rect components as well as a hierarchical organizational component)</li>
			</ul>
		</li>
	</ul>
</section>
