
<div>{{ ctlMain.plainText }}</div>
<div>{{ ctlMain.htmlText }}</div>
<hr>
<div>{{ ctlMain.plainText | uppercase }}</div>
<div>{{ ctlMain.htmlText | uppercase }}</div>
<hr>
<div ng-bind="ctlMain.plainText"></div>
<div ng-bind="ctlMain.htmlText"></div>
<hr>
<div ng-bind-html="ctlMain.plainText"></div>
<div ng-bind-html="ctlMain.htmlText"></div>
