<section>
	<h2>Composition over Inheritance</h2>
	<ul>
		<li>See <a href="https://en.wikipedia.org/wiki/Composition_over_inheritance">Wikipedia</a> and <a href="http://www.uml.org.cn/c++/pdf/DesignPatterns.pdf">Design Patterns</a> book by the <em>Gang Of Four</em></li>
		<li>The <em>Composition over Inheritance</em> principle simply states that: polymorphic behavior and code reuse should rather be implemented by composition of objects instead of through inheritance</li>
		<li><a href="https://en.wikipedia.org/wiki/Composition_over_inheritance#Composition_and_interfaces">Example</a></li>
		<li>Granular interface definitions are a great way to illustrate the intention behind an architecture</li>
		<li>With composition it is easier to replace specific aspects of a system without affecting all of the system since it helps with decoupling</li>
	</ul>
</section>
