<section>
	<h2>Problems with Composition</h2>
	<ul>
		<li>Composing objects usually means delegating function calls to an underlying implementation
			<ul>
				<li>No default implementations</li>
				<li>Explicit (boilerplate) delegation code</li>
				<li>Explicit repetition of the nested object as the delegation target</li>
				<li>Pure delegating classes are essentially just a bunch of non-functional code</li>
			</ul>
		</li>
		<li>Inheritance does not provide the extensibility necessary for most framework-type scenarios where access to or modification of the framework source code is infeasible</li>
		<li>Most of these issues can be (partially) addressed with concepts like <em>traits</em>, <em>mixins</em> and <em>behaviors</em> or syntactic support for simpler delegation</li>
	</ul>
</section>
