
<div>What all the different services say:</div>
<ul>
	<demo-directive text="ctlMain.text"></demo-directive>
	<demo-directive text2="ctlMain.text"></demo-directive>
	<demo-directive text3="ctlMain.text"></demo-directive>
</ul>
<div>
	<button type="button" ng-click="ctlMain.doStuff()">Do Stuff</button>
</div>