<section>
	<h2>What was Drupal <em>designed</em> to do? (1)</h2>
	<ul>
		<li>Drupal's main distinction from many other CMSs is that it is focused on a seamless integration of user-generated content
			<ul>
				<li>It doesn't <em>really</em> differentiate between front- and back-end</li>
				<li>Every page supports user comments out of the box</li>
			</ul>
		</li>
		<li>Prime examples of this are the drupal.org websites
			<ul>
				<li><a href="https://www.drupal.org/documentation/modules/views">Drupal Documentation</a></li>
				<li><a href="https://groups.drupal.org/node/113489">Sites using Drupal 7</a></li>
			</ul>
		</li>
		<li>Structured pages
			<ul>
				<li>e.g. Title, Text, Image, Category, Image2, Date</li>
				<li>The same structured content can then be displayed in multiple different ways</li>
				<li>For example <a href="https://www.drupal.org/node/1762770">Drupal Issue</a> and <a href="https://www.drupal.org/project/issues/views?categories=All">Drupal Issue List</a></li>
			</ul>
		</li>
		<li>Wiki-style flat model of individual "objects" loosely related to one another with links</li>
	</ul>
</section>
