<section>
	<h2>What was Drupal <em>designed</em> to do? (2)</h2>
	<ul>
		<li>Theming in the sense of applying different sets of styles to the same markup structure</li>
		<li>Being <en>very</en> extensible with structurally isolated modules that can <em>hook</em> into every aspect of Drupal Core and other modules (*)</li>
		<li>The actual Drupal Core is very minimalistic in terms of features - it is meant as a framework for building modules on top of it</li>
	</ul>
	<aside class="footnote">
		* this approach brings its own, very large set of advantages and drawbacks
	</aside>
</section>
