<section>
	<h2>What it was NOT designed to do?</h2>
	<ul>
		<li>Individual / flexible layouts</li>
		<li>Tightly coupled, hierarchical models
			<ul>
				<li>Drupal 7 doesn't even know about <em>references</em> out of the box</li>
			</ul>
		</li>
		<li>Image / document management</li>
		<li>Translation (at least in the case of Drupal 7)
			<ul>
				<li>It knows about the idea of a language / that text has a language</li>
				<li>The core assumption is that a page has only ever one of them</li>
				<li>Even Drupal 8 still suffers from a distinct lack of structure when it comes to non-content UI text snippets (labels, etc.)</li>
			</ul>
		</li>
		<li>...</li>
	</ul>
</section>
