<section>
	<h2>Loosely coupled Objects</h2>
	<div>
		<div style="width: 49%; float: left;">
			<label>Loosely Coupled</label>
			<img src="resources/loosely-coupled.png" />
		</div>
		<div style="width: 49%; float: right;">
			<label>Tightly Coupled</label>
			<img src="resources/tightly-coupled.png" />
		</div>
	</div>
</section>
