<section>
	<h2>The Widget Promise</h2>
	<h3>One line of JavaScript and you're in business</h3>
	<p>
		<pre><code>&lt;script
	type="text/javascript"
	src="https://widget.raisenow.com/widgets/lema/[my-widget-id]/js/dds-init-widget-de.js"&gt;
&lt;/script&gt;</code></pre>
		<ul>
			<li>All you need is one script tag with the URL for your widget</li>
			<li>Through the magic of JavaScript, the widget appears and you can donate</li>
			<li>Does whatever you want it to do (☠)</li>
		</ul>
	</p>
	<p>
		Except... that is mostly a lie
		<ul>
			<li>Without any customizations you get <em>exactly</em> what you see on the RaiseNow widget demo</li>
		</ul>
	</p>
</section>
