<section>
	<h2>The Customizations</h2>
	<h3>There is no such thing as "standard"</h3>
	<dl>
		<dt>Colors (Level 1 - easy)</dt>
		<dd>Changing some colors is comparatively simple since the styling is based on LESS</dd>
		<dt>Custom Styling (Level 2 - easy-isch)</dt>
		<dd>This can be relatively simple, but the line to Level 3 is very hard to "see" at times</dd>
		<dt>Custom Styling with Custom Markup (Level 3 - not easy)</dt>
		<dd>Injecting custom markup and (like krebsilga.ch) just so you actually _can_ style the widget the way you want and adding custom "content"</dd>
	</dl>
</section>
