<section>
	<h2>The Customizations</h2>
	<h3>There is no such thing as "standard"</h3>
	<dl>
		<dt>Custom Behind-the-Scenes Business Logic (Level 4 - varying degrees of hard)</dt>
		<dd>Adding support for business processes that can be downright bizarre (like berghilfe.ch)</dd>
		<dt>Changing Widget Bahavior (Level 5 - this is where it gets really tricky)</dt>
		<dd>When you're using the widget as more of an <em>idea / inspiration</em> for what you really want to do (support.wwf.ch)</dd>
	</dl>
</section>
