<section>
	<h2>The Widget Doesn't Know</h2>
	<ul>
		<li>The widget doesn't <em>know</em> about the customizations - they are added on top</li>
		<li>Not all customizations are "officially supported"</li>
		<li>The widgets are undergoing development; they change</li>
		<li>Customizations that were working yesterday might not be working tomorrow</li>
		<li>Particularly changing the widget behavior can be extremely problematic</li>
		<li>There are literally hundreds of things that could go wrong and in most cases the only way to know is if end-users start complaining</li>
	</ul>
</section>
