<section>
	<h2>Functions <a class="demo-link" href="resources/samples/functions.js">(Code)</a></h2>
	<ul>
		<li>In JavaScript (ES5), the <em>only</em> way to keep all your variables from being global is to declare them inside of <strong>functions</strong></li>
		<li>The function is the only organizational unit that allows you to limit access to variables</li>
		<li>Any declared variable is always <em>scoped</em> within its parent function - unless there is no parent function in which case it is global</li>
		<li>Function declarations create a <em>closure</em> that captures the free variables of their parent scope</li>
		<li>The immediately invoked function expression (<a href="http://benalman.com/news/2010/11/immediately-invoked-function-expression/">IIFE</a>) is the tool of choice to prevent your scripts from leaking everything into the global scope</li>
	</ul>
</section>
