<section>
	<h2>IIFEs</h2>
	<pre><code>
(function (arg1, arg2, ...) {
	...
})(param1, param2, ...);
	</code></pre>
	<ul>
		<li>Anonymous function</li>
		<li>Immediately executed after declaration</li>
		<li>Executed only once <em>ever</em></li>
		<li>Arguments used as a form of explicit dependency declaration</li>
		<li>Introduces no global variables (unless done explicityl inside the IIFE)</li>
	</ul>
</section>
