<section>
	<h2>Arguments and Calling Functions <a class="demo-link" href="resources/samples/arguments.js">(Code)</a></h2>
	<ul>
		<li>You can get all function arguments (declared and otherwise) with the <em>magic</em> <code>arguments</code> variable
			<ul>
				<li>Looks like an array</li>
				<li>Smells like an array</li>
				<li><strong>Is not an array</strong> (srsly? WTF? thanks ECMA-262)</li>
			</ul>
		</li>
		<li><code>apply</code> and <code>call</code> can be used to delegate while preserving all arguments
			<ul>
				<li><code>f.call</code> allows you to set the value of <code>this</code> inside the function</li>
				<li><code>f.apply</code> allows you to pass arguments you know nothing about</li>
			</ul>
		</li>
		<li>The classic issue of calling <code>f.apply</code> with <code>arguments</code> not being an array &#8658; <code>Array.prototype.slice.call(arguments)</code>
			<ul>
				<li>Use the <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/slice">slice</a> function of the array prototye</li>
				<li><em>Pretending</em> that the arguments object is an array</li>
				<li>Result is an <em>actual</em> array</li>
			</ul>
		</li>
	</ul>
</section>
