<section>
	<h2>Locking the Version</h2>
	<p>It is now possible to lock / fix a widget's version number so that future updates cannot affect the custom implementation. This is <em>great</em> news, but also comes with some drawbacks. No automatic updates means: no automatic updates!</p>
	<ul>
		<li>No bug fixes</li>
		<li>No new features<br /><br /></li>
		<li>Updates can still be made manually (with proper testing of course)</li>
		<li><em>Lockable</em> versions have to be defined in advance and in coordination with RaiseNow</li>
	</ul>
</section>
