<hr>
<div>
	This is the Directive
</div>
<div>
	Current Text: {{ text }}<br />
	Change Text: <input type="text" class="custom" /> <button type="button">Apply</button><br />
	Change Text Directly: <input type="text" ng-model="text" />
</div>
<hr>
