<section>
	<h2>Asynchrony</h2>
	<ul>
		<li>All the important bits of a JavaScript application run asynchronously</li>
		<li>Asynchronous programming requires a different approach</li>
		<li>Even though JavaScript is inherently single-threaded you still have to wait for completion <em>somehow</em>
			<ul>
				<li>There are some <em>interesting</em> things going on in JS in terms of when exactly what kind of action will be sheduled</li>
				<li>Read more about the <a href="https://html.spec.whatwg.org/multipage/webappapis.html#task-queue">Task Queue</a> and how <a href="https://promisesaplus.com/#notes">Promises</a> interact with it</li>
			</ul>
		</li>
	</ul>
</section>
