<section>
	<h2>Callbacks</h2>
	<ul>
		<li>The <em>classic</em> way to deal with asynchronous completion is by using callbacks</li>
		<li>Whatever asynchronous operation is started, a function is passed along as a parameter which will get called once the operation completes</li>
		<li>The main problems with callbacks in their normal form are <strong>aggregation</strong>, <strong>chaining</strong> and <strong>error handling</strong></li>
		<li>If your program happens to be <em>really asynchronous</em>, you should look into the <a href="https://github.com/Reactive-Extensions/RxJS">Reactive Extensions for JavaScript (RxJS)</a></li> 
	</ul>
</section>
