<section>
	<h2>I solemnly swear <a class="demo-link" href="resources/samples/promises.js">(Code)</a></h2>
	<ul>
		<li>The concept of <em>promises</em> is fairly universal across programming languages</li>
		<li>JavaScript (ES5) does not have a standardized API</li>
		<li>They <em>do</em> have a standard implementation in ES6 and most libraries will slowly converge on this API</li>
		<li>In jQuery land, promises are called <em>Deferred</em> objects - otherwise they are pretty much standard promises
			<pre><code>.then(doneCallback, failCallback, progressCallback)</code></pre>
			<ul>
				<li>The done callback can return a new promise</li>
				<li>The <code>then</code> function returns a promise that is resolved when all the previous promises have resolved</li>
				<li>Once a promise has been resolved, calling <code>then</code> will immediately execute the function</li>
			</ul>
		</li>
	</ul>
</section>
