<section>
	<h2>Other Solutions</h2>
	<ul>
		<li>C# has a very similar concept at its core, but adds powerful syntactic support</li>
	</ul>
	<pre><code>async Task&lt;int&gt; AccessTheWebAsync()
{
    HttpClient client = new HttpClient();
    Task&lt;string&gt; getStringTask = client.GetStringAsync("http://msdn.microsoft.com");

    DoIndependentWork();

    string urlContents = await getStringTask;
    return urlContents.Length;
}</code></pre>
</section>
