<section>
	<h2>Reactive Extensions - the Observable Concept</h2>
	<ul>
		<li>If you go to the extreme with the core concept of promises, you end up in a place very similar to <a href="https://github.com/Reactive-Extensions/RxJS">Reactive Extensions</a></li>
		<li>It looks at an application as various <em>streams</em> of events</li>
		<li>The entire reactive API is geared towards composition and transformation of events</li>
		<li><a href="https://facebook.github.io/react/">React.js</a> is another framework that takes the whole concept <em>a bit</em> further</li>
	</ul>
</section>
